In [3]:
import pandas as pd
from sqlalchemy import create_engine
import json

In [4]:
credentials_path = '/home/user/workshop3_ml_datastreaming/config/credentials.json'
with open(credentials_path, 'r') as f:
            creds = json.load(f)['database']

In [5]:
user = creds['user']
password = creds['password']
host = creds['host']
port = creds['port']
dbname = creds['dbname']

In [6]:
db_url = f"postgresql://{user}:{password}@{host}:{port}/{dbname}"
engine = create_engine(db_url)

In [7]:

query = "INSERT INTO happiness_predictions (gdp_per_capita, healthy_life_expectancy, freedom_to_make_life_choices, generosity, perceptions_of_corruption, continent_africa, continent_america, continent_europe, predicted_happiness_score) VALUES (1.0, 1.0, 1.0, 1.0, 1.0, 0, 0, 1, 5.5);"

In [7]:
query = "DROP TABLE  happiness_predictions;"

In [8]:
df = pd.read_sql(query, con=engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [9]:
print(f"Showing first {len(df)} rows from the table happiness_predictions:")
display(df)

Showing first 0 rows from the table happiness_predictions:

Empty DataFrame
Columns: [id, country, year, gdp_per_capita, social_support, life_expectancy, freedom, trust, generosity, predicted_happiness_score]
Index: []

In [10]:
query = "SELECT * FROM happiness_predictions LIMIT 10;"
df = pd.read_sql(query, con=engine)
df.head

<bound method NDFrame.head of    gdp_per_capita  healthy_life_expectancy  freedom_to_make_life_choices  \
0         1.39651                  0.94143                       0.66557
1         1.30232                  0.94784                       0.62877
2         1.32548                  0.87464                       0.64938
3         1.45900                  0.88521                       0.66973
4         1.32629                  0.90563                       0.63297
5         1.29025                  0.88911                       0.64169
6         1.32944                  0.89284                       0.61576
7         1.33171                  0.91087                       0.65980
8         1.25018                  0.90837                       0.63938
9         1.33358                  0.93156                       0.65124

   generosity  perceptions_of_corruption  continent_africa  continent_america  \
0     0.29678                    0.41978               0.0                0.0
1     0.43630                    0.14145               0.0                0.0
2     0.34139                    0.48357               0.0                0.0
3     0.34699                    0.36503               0.0                0.0
4     0.45811                    0.32957               0.0                1.0
5     0.23351                    0.41372               0.0                0.0
6     0.47610                    0.31814               0.0                0.0
7     0.36262                    0.43844               0.0                0.0
8     0.47501                    0.42922               0.0                0.0
9     0.43562                    0.35637               0.0                0.0

   continent_europe  predicted_happiness_score
0               1.0                   7.555061
1               1.0                   7.327189
2               1.0                   7.338420
3               1.0                   7.555416
4               0.0                   7.454664
5               1.0                   7.352080
6               1.0                   7.160347
7               1.0                   7.484773
8               0.0                   7.206187
9               0.0                   7.209667  >