In [3]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [4]:
with open('/home/user/workshop3_ml_datastreaming/config/credentials.json') as f:
    config = json.load(f)

In [5]:
db_config = config['database']

In [6]:
conn_str = (
    f"postgresql://{db_config['user']}:{db_config['password']}"
    f"@{db_config['host']}:{db_config['port']}/{db_config['dbname']}"
)

In [7]:
engine = create_engine(conn_str)

In [9]:
query = """
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema='public';
"""

In [10]:
df = pd.read_sql(query, con=engine)
df.head()

Empty DataFrame
Columns: [table_name]
Index: []